/* -----------mobile---------- */
@media (max-width: 576px) {
  .bigOne {
    gap: 50px;
  }
  #SLIDER {
    padding: 0;
    flex-direction: column-reverse;
  }
  #slide_items {
    padding-top: 5px;
    padding: 10px 0;
    border: 1px solid red;
    margin: 0;
  }
  #slide_btn {
    padding: 25px 0;
    height: 30px;
    width: 365px;
  }
  #slide_btn:hover {
    cursor: pointer;
    background: #63f482;
  }
  #swiper {
    margin-top: 20px;
    min-height: 700px;
  }
  #head {
    height: 130px;
    width: 5%;
    text-align: left;
    font-size: 32px;
  }
  .footer {
    padding: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .footer_items {
    align-items: center;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }
  .paragraph {
    width: 100%;
    font-size: 14px;
  }
  #title {
    font-size: 18px;
  }
  #button {
    height: 45px;
    width: 150px;
    font-size: 13px;
  }
  #texts {
    font-size: 13px;
  }
}

/* ------------bigMobile------------ */

@media (max-width: 767px) {
  #SLIDER {
    padding: 0;
    flex-direction: column-reverse;
  }
  #slide_items {
    padding-top: 5px;
    padding: 10px 0;
    border: 1px solid red;
    margin: 0;
  }
  #slide_btn {
    padding: 25px 0;
    height: 30px;
    width: 365px;
  }
  #slide_btn:hover {
    cursor: pointer;
    background: #63f482;
  }
  #swiper {
    margin-top: 20px;
    min-height: 800px;
  }
  #head {
    width: 7%;
    text-align: left;
    font-size: 32px;
  }
  .bigOne {
    gap: 30px;
  }
  .footer {
    gap: 20px;
    flex-direction: column;
  }
  .footer_items {
    gap: 0px;
    margin-top: 30px;
    width: 80%;
    flex-wrap: wrap;
  }
  .paragraph {
    width: 500px;
    font-size: 15px;
  }
  #title {
    font-size: 22px;
  }
  #button {
    height: 50px;
    width: 170px;
    font-size: 14px;
  }
  #texts {
    font-size: 14px;
  }
}

/* -----------tablet------------- */

@media (max-width: 992px) {
  #SLIDER {
    padding: 0;
    flex-direction: column-reverse;
  }
  #slide_items {
    padding-top: 5px;
    padding: 10px 0;
    border: 1px solid red;
    margin: 0;
  }
  #slide_btn {
    padding: 25px 0;
    height: 30px;
    width: 365px;
  }
  #slide_btn:hover {
    cursor: pointer;
    background: #63f482;
  }
  #swiper {
    margin-top: 20px;
    min-height: 900px;
  }
  #head {
    width: 10%;
    text-align: left;
    font-size: 35px;
  }
  .bigOne {
    gap: 30px;
  }
  .footer {
    padding: 20px;
    flex-direction: column;
  }
  .footer_items {
    width: 60%;
    margin-left: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
  }
  .paragraph {
    width: 500px;
    font-size: 17px;
  }
  #title {
    font-size: 32px;
  }
  #button {
    height: 55px;
    width: 180px;
    font-size: 15px;
  }
  #texts {
    font-size: 16px;
  }
}

/* -----------DESKTOP------------- */

@media (max-width: 1200px) {
  #SLIDER {
    padding: 0;
    flex-direction: column-reverse;
  }
  #slide_items {
    padding-top: 5px;
    padding: 10px 0;
    border: 1px solid red;
    margin: 0;
  }
  #slide_btn {
    padding: 25px 0;
    height: 30px;
    width: 365px;
  }
  #slide_btn:hover {
    cursor: pointer;
    background: #63f482;
  }
  #swiper {
    margin-top: 20px;
    min-height: 1000px;
  }
  #head {
    width: 10%;
    text-align: left;
    font-size: 35px;
  }
  body {
    font-size: 13px;
  }
  .bigOne {
    gap: 30px;
  }
  .footer {
    font-size: 13px;
    width: 100%;
    padding: 20px;
    flex-direction: column;
  }
  .footer_items {
    margin-top: 30px;
    width: 80%;
    flex-wrap: wrap;
  }
  .paragraph {
    width: 500px;
    font-size: 17px;
  }
}

/* ------------EXTRA-MONITORS----------(Rampage) */

@media (min-width: 1200px) {
  .bigOne {
    gap: 30px;
  }
  .footer {
    gap: 15px;
    width: 100%;
    display: flex;
  }
  .footer_items {
    width: 100%;
    flex-wrap: wrap;
  }
  .others {
    margin-top: 20px;
  }
}
