@media (max-width: 576px) {
  .footer {
    padding: 50px;
    display: flex;
    flex-direction: column;
  }
  .footer_items {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .footer {
    flex-direction: column;
  }
  .footer_items {
    flex-wrap: wrap;
  }
}
