@media (max-width: 576px) {
  .foter {
    display: flex;
    flex-direction: column;
  }
  .footer_items {
    display: flex;
    flex-direction: column;
  }
  .others {
    margin-top: 100px;
  }
}
