* {
  margin: 0;
  padding: 0;
}

.home {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mealsList {
  padding: 30px;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid red;
  gap: 30px;
}
.mealsItem {
  width: 250px;
  margin: 0;
}
.nav-wrapper {
  width: 100%;
}
.mealsImg {
  width: 300px;
}
.card-title {
  font-weight: bold;
}
.categoryItem {
  width: 250px;
}
.categoryList {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
}
.category {
  padding-top: 70px;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
.btn {
  position: absolute;
  left: 20px;
  top: 80px;
}
