.burger {
    width: 40px;
    height: 40px;
    display: none;
}

.burger:hover {
    cursor: pointer;
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 5px;
    }

    .header {
        max-width: 367px;
    }
    .nav__items {
        display: flex;
        justify-content: space-between;
          align-items: center;
    }
    .flag {
        margin-left: 20px;
    }
    .nav__items li:not(:first-child)  {
        display: none;
    }

    .burger {
        display: flex;
        right: 50px;
        top: 90px;
        position: absolute;
    }
    body {
        background-color: #F5F5F7;
    }
    /* #nav__items {
        margin: 0 auto;
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        top: 155px;
        right: -50px;
        justify-content: center;
        gap: 20px;
        align-items: center;
        width: 467px;
        height: 400px;
        background-color: white;
    }
    #nav__items li:not(:last-child) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 16px 26px;
        margin: 0;
        gap: 12px;
        width: 109.5px;
        height: 46px;   
        background: #F5F5F7;
        border-radius: 12px;
    }
    .nav__link_tel {
        width: 341px;
        height: 154px;
        background: #F5F5F7;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
    }

    .nav__link_tel span {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #1D1D1F;
    }

    .nav__link_tel p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #686870;        
    } */

}

@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 0 5px;
    }

    .header {
        max-width: 600px;
    }
}

@media (max-width: 992px) {
    .container {
        width: 100%;
        padding: 0 5px;
    }

    .header {
        max-width: 800px;
    }
    
    .nav__items {
        padding-right: 30px;
        display: flex;
        flex-direction: column;
        height: 100px;
    }
}